@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hide utility if needed, though tailwind-scrollbar plugin is better, we can add a simple class */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
